<ul class="ul-nav pr-4 w-full">
        
    {% if user.is_authenticated %}
        <li class="li-nav"><a href="{{user.get_absolute_url}}">Profile</a></li>
        <li class="li-nav w-14"><a href="{% url 'users:logout' %}">Log out</a></li>
    {% else %}
        <li class="li-nav"><a href="/admin/">Admin</a></li>
        <li class="li-nav w-14"><a href="{% url 'users:login' %}">Log in</a></li>
        <li class="li-nav w-14"><a href="{% url 'users:signup' %}">Sign up</a></li>
    {% endif %}
</ul>
