{% extends 'base.html' %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}
    <div class="col-center w-full pt-6 px-4 relative">
        <! -- 메인 이미지 --!>
        <div class="col-center room-main-img w-full max-w-7xl h-18vh" style="background-image: url(/static/img/Images-532667921.webp);">
            <p class="ad-title font-BebasNeue text-white">"The best place for vacation"</p>
            <p class="ad-title-shadow font-BebasNeue">"The best place for vacation"</p>
        </div>
        <! --- 룸 카드 --- !>
        <div class="flex flex-wrap w-fill max-w-7xl pt-10">
            {% for room in rooms %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>
        <! --- 페이지번호 ---!>
        <div class="flex flex-col items-center relative -top-2 bg-white px-4 z-10">
            <!-- <div class="text-sm pb-4">
            [ page {{page_obj.number}} of {{page_obj.paginator.num_pages}} ]
            </div> -->
            <div class="">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Prev</a> /
            {% endif %} 

            {% for num in page_range %}
                {% if num != page_obj.number %}
                    <a href="?page={{num}}">{{num}}</a> /
                {% else %}
                    <strong> {{num}} </strong> /
                {% endif %}
                    
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %} 
            </div>
        </div>
    </div>

{% endblock content %}


