@tailwind base;
@tailwind components;
@tailwind utilities;

// @layer base {
//   html {
//     font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
//       Roboto, "Helvetica Neue", Arial, sans-serif;
//   }
// }

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Noto+Sans:wght@100;300;400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// @font-face {
//   font-family: "Noto Sans";
//   src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Noto+Sans:wght@100;300;400;500;800&display=swap");
// }

body {
  @apply text-gray-800 mt-24 relative font-noto;
}

header {
  @apply fixed z-50 container inset-0 max-w-full flex items-center justify-between px-6 h-20 border-b-2 border-gray-100 bg-white;
}

.main-content {
  @apply w-full pt-4 pb-14 min-h-30;
}

.search {
  @apply border-2 border-gray-100 placeholder-gray-400 rounded-md font-medium py-2 pl-5 pr-3 outline-none;
  &:hover {
    @apply shadow-inner transition ease-out duration-300;
  }
  &:focus {
    @apply shadow-inner border-pink-200 transition ease-out duration-1000;
  }
}

.div-nav {
  @apply w-8/12 h-full flex items-center justify-end;
}

.ul-nav {
  @apply h-full flex text-xs items-center font-medium text-gray-400 justify-end;
}

.li-nav {
  @apply h-full pt-1 px-1 flex items-center justify-center border-b-4 border-white;
  &:hover {
    @apply border-gray-100;
  }
  a {
    @apply h-full flex items-center;
  }
}

.room-main-img {
  @apply bg-gray-400 mb-2 rounded-xl bg-cover bg-center;
}

.col-center {
  @apply flex flex-col items-center justify-center;
}

.star-rate {
  @apply flex items-center w-20 h-4 bg-center bg-cover;
}

.sh2px {
  text-shadow: 2px 2px 2px gray;
  mix-blend-mode: multiply;
}

.sh4px {
  text-shadow: 2px 4px 2px gray;
  mix-blend-mode: multiply;
}

.sh6px {
  text-shadow: 2px 6px 2px gray;
  mix-blend-mode: multiply;
}

.ad-title-shadow {
  @apply sh4px xl:text-6xl md:text-4xl text-2xl text-white relative xl:bottom-7 md:bottom-5 sm:bottom-4 bottom-4 z-10;
}

.ad-title {
  @apply xl:text-6xl md:text-4xl text-2xl relative xl:top-8 md:top-5 sm:top-4 top-4 z-20;
}

@media (min-width: 1280px) {
  .w-1280 {
    width: 18rem;
  }
}

@media (min-width: 1000px) and (max-width: 1280px) {
  .w-1280 {
    width: 30vw;
  }
}

@media (min-width: 810px) and (max-width: 1000px) {
  .w-1000 {
    width: 45vw;
  }
}

@media (min-width: 510px) and (max-width: 810px) {
  .w-0810 {
    width: 42vw;
  }
}

@media (min-width: 100px) and (max-width: 510px) {
  .w-0510 {
    width: 90vw;
  }
}

.red-btn {
  @apply pb-1 rounded-sm w-full h-12 bg-red-400 text-white text-sm font-semibold;
}

form {
  input {
    @apply rounded-sm w-full h-10 px-2 text-sm border border-gray-300 my-1;
    &:focus {
      @apply outline-none border-yellow-500;
    }
  }
}

.small-red-btn {
  @apply border border-red-400 text-red-400 rounded-sm px-2 py-1;
}

form {
  .input {
    @apply mb-2;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600 -mb-1;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

.message-in {
  transition: transform 1s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in-out;
  transform: translate(0, 75px);
}

.message-out {
  transition: transform 1s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in-out;
  transform: translate(0, -35px);
}

.message-shape {
  @apply font-medium rounded-full text-white py-4 px-6;
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }
  15% {
    opacity: 1;
    transform: translateY(75px);
  }
  85% {
    opacity: 1;
    transform: translateY(75px);
  }
  100% {
    opacity: 0;
    transform: translateY(-35px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}
