{% extends 'base.html' %}

{% block page_title %}
Update Profile
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<div class="col-center justify-center w-full pt-4 pb-14 h-75vh min-h-30">
    <!-- 폼 시작 -->
    <div class="col-center relative border w-80 p-5 rounded-md">

        <!-- 회원정보 수정 -->
        {% include 'mixins/auth/auth_form.html' with form=form cta="Update Profile" %}

        <!-- 회원가입으로 이동 -->
        <div class="flex justify-around w-full text-xs h-10 items-center pt-3">
            <a href="{% url 'users:signup' %}">
                <button class="small-red-btn">Change Password</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %} 