{% extends 'base.html' %}

{% block page_title %}
    {{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block content %}
<div class="col-center main-contents items-center py-4">
    <div class="col-center border w-80 px-5 py-8 rounded-md">
        {% include 'mixins/user_avatar.html' with user=user_obj %}
        <span class="text-2xl font-medium mt-1"> {{user_obj.first_name}}{{profile}} </span>
        {% if user_obj.superhost %}
        {% include 'mixins/auth/superhost.html' %}
        {% endif %}
        <span class="text-lg">{{user_obj.gender}}</span>
        <span class="text-center">{{user_obj.bio}}</span>
        {% if user == user_obj %}
        <a href="{% url 'users:update' %}" class="small-red-btn text-xs font-mono mt-5">Edit Profile</a>    
        {% endif %}
    </div>
    
    {% if user_obj.rooms.count > 0 %}
    <div class="col-center mt-10 w-full">
        <div class="flex w-full justify-center items-center max-w-7xl">
            <div class="border-b-2 border-gray-100 w-full ml-4 mr-2 "></div>
            <div class="border rounded-full px-4 py-2 min-w-max">
                <span>
                {{user_obj.first_name}}'s Room
                </span>
            </div>
            <div class="border-b-2 border-gray-100 w-full ml-2 mr-4"></div>
        </div>
        <div class="flex flex-wrap w-full max-w-7xl pt-10">
            {% for room in user_obj.rooms.all %}
            {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="h-10"></div>
    {% endif %}
</div>
{% endblock content %}
    