<form method="POST" class="w-full"/>

    {% csrf_token %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span> 
        {% endfor %}
    {% endif %}

    {% for field in form %}
        {% include 'mixins/auth/form_input.html' with field=field %}
    {% endfor %}

    {% if cta == "Log in" %}
    <div class="flex justify-between w-full text-xs py-2">
        <span>remember me</span><span>Forgot password?</span>
    </div>
    {% endif %}

    <button class="red-btn mt-1">{{cta}}</button>

</form>